.cover-tips-span{
    padding: .8em 1.5em;
    background-color: rgba(255, 255, 255, .5);
    overflow: hidden;
    border-radius: 10px;
}

.cover-tips-span span{
    display: inline-block;
    font-size: 1em;
    color:crimson;
    white-space: nowrap;
    animation: move 5s linear infinite both;
}

@keyframes move {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-20%);
    }
}

.nav-toggle-bgcolor{
    cursor: pointer;
    position: fixed;
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    bottom: 3%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    z-index: 99999;
}

@keyframes sunRotate {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.nav-toggle-bgcolor-sun{
    width: 50%;
    height: 50%;
    background-color: #ff4500;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #ff4400;
}

.nav-toggle-bgcolor-sun > div{
    width: 6%;
    height: 11%;
    border-radius: 10px;
    background-color: #ff4500;
    position: absolute;
    box-shadow: 0px 0px 10px #ff4400;
}

.nav-toggle-bgcolor-sun-1{
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-toggle-bgcolor-sun-2{
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-toggle-bgcolor-sun-3{
    left: 14%;
    top: 50%;
    transform: translateY(-50%) rotateZ(90deg);
}

.nav-toggle-bgcolor-sun-4{
    right: 16%;
    top: 50%;
    transform: translateY(-50%) rotateZ(90deg);
}

.nav-toggle-bgcolor-sun-5{
    top: 21%;
    left: 23%;
    transform: rotateZ(-45deg);
}

.nav-toggle-bgcolor-sun-6{
    top: 21%;
    right: 23%;
    transform: rotateZ(45deg);
}

.nav-toggle-bgcolor-sun-7{
    bottom: 21%;
    right: 23%;
    transform: rotateZ(-45deg);
}

.nav-toggle-bgcolor-sun-8{
    bottom: 21%;
    left: 23%;
    transform: rotateZ(45deg);
}

.nav-toggle-bgcolor-moon{
    width: 60%;
    height: 60%;
    background-color: #fff;
    box-shadow: 0,0,20px,#fff;
    border-radius: 100%;
}

.nav-toggle-bgcolor-moon-1{
    width: 60%;
    height: 60%;
    transition: 1s ease;
    position: absolute;
    border-radius: 100%;
    top: 6%;
    left: 6%;
}